{%extends 'layout.html'%}

{%block content%}
<form action="/issue" method="POST">

    <select class="form-control" name="users">
        {%for user in users%}
        <option value="{{user.ID}}">{{user.FirstName}}</option>
        {%endfor%}
    </select>

    <select class="form-control" name="workshop">
        {%for workshop in workshops%}
        <option value="{{workshop.WorkshopID}}">{{workshop.WorkshopID}}</option>
        {%endfor%}
    </select>
    <input type="submit" />

</form>
{%endblock%}